<mat-toolbar class="justify-content-end">
  <button mat-button color="primary" (click)="logout()">Sign up</button>
  <button mat-button color="accent" (click)="openLoginDialog()">Sign in</button>
</mat-toolbar>

<div class="home_image_background position-relative">
  <span class="position-absolute top-50 text-white fs-3 fw-bold m-3 z-2"
    >Introducing recipe website</span
  >
  <img
    class="w-100 h-25"
    src="../../../../../assets/images/home/heading_background.png"
    alt=""
  />
</div>
<mat-tab-group class="p-5 m-5">
  <mat-tab label="First">
    <div class="m-5 p-5">
      <app-home-recipe-list></app-home-recipe-list>
    </div>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
