<div class="container">
  <div class="row">
    <div class="col-5  d-flex align-items-centers">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="fs-6 fw-bold mb-1">Over and Under Stock</p>
            <p style="font-size: 12px; font-weight: 450" class="text-secondary">
              Total items: <span class="text-dark">321</span>
            </p>
          </div>
        </div>
        <canvas id="dochart"></canvas>
      </div>
    </div>
    <div class="col-5 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12 align-items-center">
            <div class="d-flex align-items-center justify-content-between">
              <p class="fs-6 fw-bold mb-1">Daily Capacity Change</p>
              <p class="fs-6 fw-bold mb-1">Today</p>
            </div>
          </div>
        </div>
        <canvas id="linechart"></canvas>
      </div>
    </div>
  </div>
</div>
