<mat-card class="mb-5 shadow">
  <mat-card-header>
    <img
      mat-card-image
      src="../../../../../assets/images/home/heading_background.png"
    />
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>
      <p class="text-danger fs-6 text-wrap">
        Name of receiptName of receiptName of receipt
      </p>
    </mat-card-title>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center m-0 p-0">
    <button mat-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
  <div class="d-flex justify-content-end">
    <p class="text-info">15/12/2023</p>
  </div>
</mat-card>
