.status-heading {
    width: 40px;
    height: 20px;
    padding: 8px;
    border-radius: 30px;
    color: white;
    background-color: green;
    font-size: 10px;
    text-align: center;
  }
  
  .order-wrapper {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 30px;
  }
  
  .heading-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .img-section img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }
  