<div class="row mt-5 order-wrapper">
  <div class="col">
    <div class="heading-order">
      <div class="text-heading fs-5 fw-bold">
        <p class="text-secondary">
          Order
          <span class="text-dark me-2">#1717171717</span>
          <span class="status-heading">Completed</span>
        </p>
      </div>
      <div class="price-order">
        <p class="fs-3 fw-bold">$580.99</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-secondary d-flex align-items-center">
      <mat-icon class="me-2">alarm_on</mat-icon>
      <span> 13Sep, 2024 at 4:39AM</span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col d-flex align-items-center">
      <div class="img-section me-3">
        <img
          src="../../../../../../../assets/images/home/heading_background.png"
        />
      </div>
      <div class="info-section">
        <h2 class="fw-bold m-0">
          Baowijf awobegoiwe oiwaegnoin weoiwagneoi wegoin
        </h2>
        <h4 class="fw-bold">Customer : aklfwolkjweamfoikj</h4>
      </div>
    </div>
  </div>
</div>
