.img-item img{
  width: 90px;
  height: 90px;
  border-radius: 8px;
  margin-right: 8px;
}

.heading {
  font-size: 18px;
  font-weight: 500;
}

.sub-heading {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.footer {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
