<div class="mt-3 shadow p-3">
  <div class="d-flex justify-content-between">
    <div class="infor-item d-flex">
      <div class="img-item">
        <img
          src="../../../../../../../assets/images/home/heading_background.png"
        />
      </div>
      <div class="text-item">
        <p class="heading">Laced name of recipe item</p>
        <p class="sub-heading">
          Method : <span class="text-dark fw-bold">Grill</span>
        </p>
        <p class="footer">
          Time : <span class="text-dark fw-bold">10mins</span>
        </p>
      </div>
    </div>
    <div class="infor-item">
      <p class="fs-5 fw-bold">$140.99</p>
    </div>
  </div>
</div>
