.nav-previous {
  display: flex;
  align-items: center;
  margin: 32px;
  cursor: pointer;
  color: red;
}

.status-label {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 10px;
  background-color: rgb(154, 245, 154);
  color: white;
}

.order-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.payment-wrapper {
  margin-top: 20px;
}

img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}
