<div class="div">
  <mat-icon class="fs-3 m-5">keyboard_arrow_left</mat-icon>
  <span>Go to previous</span>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col d-flex align-items-center">
      <p class="text-secondary fw-bold fs-2 me-2">
        Order <span class="text-dark">#1232</span>
      </p>
      <p class="text-secondary fw-bold me-2">13 Sep,2024 at 4:30PM</p>
      <div class="status-label">
        <p class="m-0 fw-bold">Completed</p>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8">
      <p class="fw-bold fs-5">Order Details</p>
      <div class="order-wrapper">
        <app-order-detail-item></app-order-detail-item>
        <app-order-detail-item></app-order-detail-item>
        <app-order-detail-item></app-order-detail-item>
      </div>
      <div class="d-flex justify-content-end">
        <p class="fs-5 text-secondary me-4">Total:</p>
        <p class="fw-bold fs-3">$340.48</p>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="fw-bold fs-5">Customer Infor</p>
            <div class="infor-section d-flex shadow p-3">
              <div class="img-infor">
                <img
                  src="../../../../../assets/images/home/heading_background.png"
                />
              </div>
              <div class="content-infor">
                <p class="fw-bold">Name of user</p>
                <p class="text-secondary">
                  Email: <span class="fw-bold">userdemo@gmail.com</span>
                </p>
                <p class="text-secondary">
                  Address:
                  <span class="fw-bold">Kyoto Japan, Okatawa, Hoishy</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <p class="fw-bold fs-5">Payment Infor</p>
            <div class="d-flex shadow p-3">
              <div class="payment-infor">
                <p class="text-dark d-flex align-items-center">
                  Payment Method:
                  <span class="fw-bold">Paypal</span>
                  <mat-icon>payment</mat-icon>
                </p>
                <p class="text-dark">
                  Status: <span class="fw-bold">Payment successful</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
