table {
  width: 100%;
}
th{
  font-weight: 900;
  color: black;
}
td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.img-item{
  width: 60px;
  height: 40px;
}