<div class="container">
  <form [formGroup]="goodsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="name" class="fw-500 fs-18">Goods Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Write name here..."
          />
        </div>

        <div class="form-group">
          <label for="name" class="fw-500 fs-18">Goods Description</label>
          <textarea
            class="form-control"
            formControlName="description"
            placeholder="Write a description here..."
            cols="30"
            rows="10"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="name" class="fw-500 fs-18">Image for goods</label>
          <input class="form-control" formControlName="image" type="file" />
        </div>

        <div class="form-group">
          <div class="heading-select fs-14">
            <label for="name" class="fw-500">Inventory</label>
            <span class="ms-1 text-primary fw500 cursor-pointer"
              >Add new warehouse</span
            >
          </div>
          <div class="row">
            <div class="col-6">
              <label for="name" class="fw-500 fs-12">Warehouse</label>
              <input class="form-control" formControlName="name" type="text" />
            </div>
            <div class="col-6">
              <label for="name" class="fw-500 fs-12">Quantity</label>
              <input
                class="form-control"
                formControlName="quantity"
                type="number"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 border rounded p-3">
        <p class="fs-18 fw-500">Organize</p>
        <div class="form-group">
          <div class="heading-select fs-14">
            <label for="name" class="fw-500">Category</label>
            <span class="ms-1 text-primary fw500 cursor-pointer"
              >Add new category</span
            >
          </div>
          <select
            class="custom-select mb-3"
            (change)="changeCategory($event)"
            formControlName="category"
          >
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>

        <div class="form-group" formArrayName="tags">
          <div class="heading-select fs-14">
            <label for="name" class="fw-500">Tags</label>
            <span
              class="ms-1 text-primary fw500 cursor-pointer"
              (click)="addNewTag()"
              >Add new tag</span
            >
          </div>
          <div *ngFor="let tag of tags.controls; let i = index">
            <div class="heading-select fs-14">
              <label class="fw-500">Tag {{ i + 1 }}</label>
            </div>
            <div [formGroupName]="i">
              <select
                class="custom-select mb-3"
                (change)="changeTags($event, i)"
              >
                <option *ngFor="let tagValue of tagsList" [value]="tagValue">
                  {{ tagValue }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group fs-14">
              <label for="price" class="fw-500">Price</label>
              $<input
                class="form-control"
                formControlName="price"
                type="number"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="price" class="fw-500">Quantity</label>
              <input
                class="form-control"
                formControlName="quantity"
                type="number"
              />
            </div>
          </div>
        </div>

        <p class="fs-18 fw-500 d-inline">Variants</p>
        <span
          class="ms-1 text-primary fw500 cursor-pointer"
          (click)="addOptions()"
          >Add new options</span
        >
        <div class="form-group" formArrayName="variants">
          <div *ngFor="let variantGroup of variants.controls; let i = index">
            <div class="heading-select fs-14">
              <label class="fw-500">Option {{ i + 1 }}</label>
            </div>
            <div [formGroupName]="i">
              <select
                class="custom-select mb-3"
                (change)="changeOptions($event, i)"
                formControlName="type"
              >
                <option *ngFor="let variant of variantsList" [value]="variant">
                  {{ variant }}
                </option>
              </select>
              <textarea
                class="form-control rounded"
                cols="30"
                rows="4"
                formControlName="detail"
                (input)="changeDetailOptions($event, i)"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
