<mat-tab-group [@.disabled]="true">
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <img
        src="../../..//../../assets/images/home/heading_background.png"
        class="logo-app"
      />
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>show_chart</mat-icon>Dashboard
    </ng-template>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>This is dash board</h1>
        </div>
      </div>
    </div>
  </mat-tab> -->

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment</mat-icon>
      Order
    </ng-template>
    <app-order></app-order>
  </mat-tab>
  <mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>perm_media</mat-icon>Recipe
      </ng-template>
      <app-recipe></app-recipe>
    </mat-tab>

    <ng-template mat-tab-label>
      <mat-icon>account_box</mat-icon>Profile
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>compare_arrows</mat-icon>Logout
    </ng-template>
  </mat-tab>
</mat-tab-group>
