<h1 class="fw-bold m-5">Order Management</h1>
<div class="container mt-3">
  <div class="row">
    <div class="col d-flex">
      <div class="status-section">
        <label class="label-status"> All</label>
        <span class="quantity-status">67</span>
      </div>
      <div class="status-section">
        <label class="label-status"> New</label>
        <span class="quantity-status">67</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="search-bar">
        <input type="text" placeholder="Search" />
      </div>
    </div>
  </div>
  <app-order-item></app-order-item>
  <app-order-item></app-order-item>
  <app-order-item></app-order-item>
  <app-order-item></app-order-item>
</div>
